<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
کنکلی
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این تمرین قصد داریم پیش‌بینی کنیم آیا کاربران بلیط خود را کنسل می‌کنند یا نه. به ازای هر کنسلی، مستربلیط باید به شرکت مسافربری جریمه پرداخت کند! پس بلیط‌های    کنسلی به معنی تحمیل هزینه به شرکت است. از این رو تشخیص دادن بلیط‌هایی که احتمال کنسلی آنان وجود دارد، به مدیریت ریسک شرکت کمک بزرگی می‌کند. 
    <br>
    حال از داده‌هایی که در اختیارتان قرار گرفته است استفاده کنید و مدلی آموزش دهید که کنسل شدن یا نشدن سفر را تشخیص دهد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 کتابخانه‌ها
</font>
</h2>

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
مجموعه داده آموزشی شامل ۱۰۱۰۱۷ سطر است که در جدول زیر، توضیحات هر ستون آمده است.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|Created|زمان ثبت بلیط|
|CancelTime|زمانی که مسافر بلیط را کنسل کرده است|
|DepartureTime|زمان حرکت|
|BillID|شناسه خرید|
|TicketID|شناسه بلیط|
|ReserveStatus|وضعیت پرداخت مشتری|
|UserID|شناسه کاربری|
|Male|آیا بلیط متعلق به زن است یا مرد|
|Price|قیمت بلیط بدون تخفیف|
|CouponDiscount|تخفیفی که شخص روی بلیط اعمال کرده است|
|From|مبدا سفر|
|To|مقصد سفر|
|Domestic|آیا سفر، داخلی است یا خارجی|
|VehicleType|جزئیات وسیله نقلیه را مشخص می‌کند|
|VehicleClass|آیا وسیله نقلیه، فرست‌کلس است یا نه|
|Vehicle|نوع وسیله نقلیه|
|HashPassportNumber_p|هش‌شده شماره پاسپورت|
|HashEmail|هش‌شده ایمیل|
|BuyerMobile|هش‌شده شماره موبایل|
|NationalCode|هش‌شده شماره‌ملی|
|TripReason|دلیل سفر|
|Cancel|آیا بلیط کنسل شده‌است یا نه|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    مجموعه داده آزمایش نیز مانند مجموعه آموزش است با این تفاوت که ستون <code>Cancel</code> که متغیر هدف مسئله است را در خود ندارد. مجموعه داده آزمایش ۴۳۲۹۳ سطر دارد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

In [2]:
train_data = pd.read_csv('./data/train_data.csv')
train_data

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-07-26 13:33:20.457,NaN,2022-07-26 16:30:00,38428546,7445571.0,3,NaN,True,1180000.0,0.0,...,1,VIPمانیتوردار-شارژراختصاصی تخت شو مارال (جدید)...,True,Work,Bus,0,NaN,NaN,302222356019,330024570
1,2022-10-27 23:07:01.837,2022-10-27 23:26:39.070,2022-10-29 09:45:00,39768762,7762719.0,5,NaN,False,1050000.0,0.0,...,1,classicus 2+2,True,Int,Bus,1,NaN,NaN,900764168521,995520696
2,2022-09-12 11:01:13.607,NaN,2022-10-03 18:35:00,39128001,2327596.0,5,800398.0,False,4674000.0,0.0,...,1,فوکر 100,False,Int,Plane,0,NaN,1c44d7a76b52341fa12dcfa993138576befcc9ebf01d14...,749804783291,979382950
3,2022-08-08 17:43:35.840,NaN,2022-08-08 22:30:00,38606546,7495440.0,3,NaN,True,1200000.0,0.0,...,1,VIPدرسا+مانیتوردار+شارژراختصاصی+پذیرایی,True,Work,Bus,0,NaN,NaN,781396205677,911237229
4,2022-11-01 15:12:56.823,NaN,2022-11-03 11:30:00,39822185,2356902.0,5,NaN,True,6222000.0,0.0,...,1,NaN,False,Work,Plane,0,NaN,bb38b345aec02255e31d178492907175c5984f2a1f5b59...,524576220177,727496008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101012,2022-10-27 21:41:35.803,NaN,2022-11-05 20:15:00,39767774,3082282.0,2,NaN,False,7200000.0,0.0,...,1,5ستاره بيزينس سلامت فدك,NaN,Int,Train,0,NaN,NaN,395081863564,789320493
101013,2022-09-24 15:51:11.993,NaN,2022-10-21 09:15:00,39319207,3026516.0,2,151423.0,False,4292000.0,0.0,...,1,4ستاره4تخته سپهر,NaN,Int,Train,0,NaN,3f28ed65a16d629747e4d27fab100b2b082fcbdf7ec831...,130026405332,866503410
101014,2022-08-12 13:46:20.480,NaN,2022-08-12 23:59:00,38653461,7508988.0,3,NaN,True,1320000.0,0.0,...,1,VIP 2+1 / مانیتوردار / سیستم تهویه مطبوع / تخ...,True,Int,Bus,0,NaN,NaN,784949357488,881677039
101015,2022-06-20 15:15:37.780,NaN,2022-06-25 10:10:00,37880627,1057205.0,5,641744.0,True,13000000.0,0.0,...,1,NaN,False,Work,Plane,0,NaN,750690ca99468f159eff6ad928cec4339b089af8c2e6dc...,766602541733,403505466
101016,2022-07-25 00:25:14.170,NaN,2022-07-25 21:00:00,38408696,7439771.0,3,857274.0,True,2150000.0,0.0,...,1,MAN VIP 2+1,True,Work,Bus,0,NaN,NaN,899439800471,593217954

In [8]:
test_data = pd.read_csv('./data/test_data.csv')
test_data

,Created,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,From,To,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-07-08 12:04:46.290,2022-08-16 23:59:00,38166794,2890395.0,2,NaN,False,2043000.0,0.0,مشهد,تهران,1,3 ستاره 6 تخته پارسي,NaN,Int,Train,NaN,NaN,419509763088,660703096
1,2022-09-30 14:18:23.487,2022-09-30 23:59:00,39424175,7669420.0,3,NaN,False,1220000.0,0.0,تهران,اصفهان,1,V I P,True,Int,Bus,NaN,NaN,935955347521,960594437
2,2022-05-15 10:52:01.293,2022-06-06 17:40:00,37336619,2783057.0,2,800538.0,True,2132000.0,0.0,مشهد,تهران,1,4ستاره 4تخته سبز نوين,NaN,Int,Train,NaN,NaN,428059757595,854730165
3,2022-10-06 02:55:53.723,2022-10-14 19:45:00,39507715,7691289.0,5,950983.0,False,520000.0,0.0,تهران,سمنان,1,اسکانیا,True,Work,Bus,NaN,012dca1b2070c32e03238f49aa8f12a1a9ce580f8b1368...,515601565031,850531769
4,2022-03-12 13:46:40.300,2022-03-12 19:30:00,36422079,6901256.0,3,NaN,True,1180000.0,0.0,ارومیه,کرمانشاه,1,اسکانیا تک صندلی,True,Work,Bus,NaN,NaN,633910237635,893186872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43288,2022-09-25 15:33:09.793,2022-09-25 20:30:00,39338188,7647177.0,3,NaN,True,2480000.0,0.0,تهران,مشهد (خراسان ),1,وای پی تخت شو ۲۵نفره,True,Int,Bus,NaN,7091c8c24f3f57b98561de5d9a874cb91c3fd44371930a...,45595252975,158174797
43289,2022-07-16 19:58:15.300,2022-07-18 21:45:00,38298325,7406150.0,3,NaN,True,1330000.0,0.0,اصفهان,شیراز,1,اسکانیا درسا(مانیتور اختصاصی),True,Work,Bus,NaN,NaN,194871920550,384954737
43290,2022-06-16 18:14:40.673,2022-06-17 17:30:00,37823306,7274287.0,3,NaN,True,1290000.0,0.0,تهران,رودسر,1,مارال 25 نفره VIP,True,Int,Bus,NaN,NaN,687841588584,648554818
43291,2022-07-23 13:48:45.330,2022-08-23 21:05:00,38386540,2914007.0,2,724274.0,True,2810500.0,0.0,مشهد,تهران,1,4 ستاره 4 تخته غزال,NaN,Int,Train,NaN,a78e5ce63b34517a2c4e1d3ccd474241abe1993b49905c...,976918931561,779144272
43292,2022-08-14 11:04:39.597,2022-08-15 22:00:00,38674829,7514844.0,3,610090.0,True,1700000.0,0.0,خرم آباد (لرستان ),کرج,1,مان 25 نفره VIP,True,Int,Bus,NaN,NaN,251061924518,146816459

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش و مهندسی ویژگی
</font>
</h2>

In [21]:
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder, MinMaxScaler, StandardScaler

class Preprocessing():
    def __init__(self):
        self.selected_cols = ['Created', 'DepartureTime','Price', 'CouponDiscount', 'BillID', 'TicketID', 'ReserveStatus', \
                'Male',  'Domestic', \
                'VehicleClass', 'Vehicle', 'Cancel', 'TripReason']
        
        self.final_features = ['TimeDiff','net_price','ReserveStatus', 'has_discount', 'Male', 'Domestic', 'Cancel', 'TripReason', 
                               'is_with_familiy', 'Bus', 'Train', 'InternationalPlane', 'Plane']
        
        self.target_col = 'Cancel'
        
    def select_useful_cols (self, is_train) : 
        if is_train : 
            self.df = self.dataset[self.selected_cols]
        else : 
            test_useful_cols = self.selected_cols.copy()
            test_useful_cols.remove(self.target_col)
            self.df = self.dataset[test_useful_cols]
    
    def is_with_family(self):
        self.df['is_with_familiy'] = self.df.groupby('BillID').Male.transform('count') > 1
        
    def time_difference(self):
        self.df[['Created', 'DepartureTime']] = self.df[['Created', 'DepartureTime']].apply(pd.to_datetime)
        self.df['TimeDiff'] = (self.df['DepartureTime'] - self.df['Created']).dt.days
        self.df.drop(['Created', 'DepartureTime'], axis=1, inplace=True)
        
    def handle_monetary (self) : 
        self.df['net_price'] = self.df.Price - self.df.CouponDiscount
        self.df['net_price'] /= self.df['net_price'].max()
        self.df['has_discount'] = self.df.CouponDiscount > 0
    
    def encode_cities(self, is_train):
        if is_train:
            cities = list(set(self.df.From.append(self.df.To).values))
            self.city_encoder = LabelEncoder().fit(cities)
            
        city2idx = dict(zip(self.city_encoder.classes_, self.city_encoder.transform(self.city_encoder.classes_)))

        self.df['From_encoded'] = self.df['From'].map(city2idx).fillna(-1).astype(int)
        self.df['To_encoded'] = self.df['To'].map(city2idx).fillna(-1).astype(int)

        self.df.drop(['To', 'From'], axis=1, inplace=True)
    
    def normalize_cities(self, is_train):
        if is_train:
            cities_encoded = np.array(self.df.From_encoded.append(self.df.To_encoded).values).reshape(-1,1)
            self.city_scaler = StandardScaler().fit(cities_encoded)
            
        self.df['From_encoded'] = self.city_scaler.transform(self.df[['From_encoded']])
        self.df['To_encoded'] = self.city_scaler.transform(self.df[['To_encoded']])

        
    def encode_vehicle(self):
        vehic = pd.get_dummies(self.df.Vehicle)
        self.df = pd.concat([self.df, vehic], axis=1)
        self.df.drop(columns=['Vehicle'], inplace=True)
        
            
    def encode_categoricals(self, is_train):
        if is_train:
            self.cat_cols = self.df.select_dtypes(exclude=['int','float']).columns
            self.cat_les = {}

            for col in self.cat_cols : 
                le = LabelEncoder().fit(self.df[col])
                self.cat_les.update({col:le})
        
        for col in self.cat_cols :
            if col == self.target_col :
                print('col:', col)
                continue
            self.df[col] = self.cat_les[col].transform(self.df[col])
    
    def select_final_features (self, is_train) : 
        if is_train : 
            self.df = self.df[self.final_features]
        else : 
            test_final_cols = self.final_features.copy()
            test_final_cols.remove(self.target_col)
            self.df = self.df[test_final_cols]
            
    def transform(self, dataset:pd.DataFrame, is_train=True) : 
        self.dataset = dataset.copy()
        
        self.select_useful_cols(is_train)
        self.is_with_family()
        self.time_difference()
        self.handle_monetary()
        self.encode_vehicle()
        self.encode_categoricals(is_train)
        self.select_final_features(is_train)
        
        return self.df

In [22]:
preprocessor = Preprocessing()
train_df = preprocessor.transform(train_data, is_train = True)

In [23]:
train_df

,TimeDiff,net_price,ReserveStatus,has_discount,Male,Domestic,Cancel,TripReason,is_with_familiy,Bus,Train,InternationalPlane,Plane
0,0,0.003075,3,0,1,1,0,1,1,1,0,0,0
1,1,0.002736,5,0,0,1,1,0,1,1,0,0,0
2,21,0.012179,5,0,0,1,0,0,1,0,0,0,1
3,0,0.003127,3,0,1,1,0,1,0,1,0,0,0
4,1,0.016213,5,0,1,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101012,8,0.018762,2,0,0,1,0,0,1,0,1,0,0
101013,26,0.011184,2,0,0,1,0,0,1,0,1,0,0
101014,0,0.003440,3,0,1,1,0,0,0,1,0,0,0
101015,4,0.033875,5,0,1,1,0,1,0,0,0,0,1
101016,0,0.005602,3,0,1,1,0,1,0,1,0,0,0

In [24]:
test_df = preprocessor.transform(test_data, is_train=False)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مدل‌سازی
</font>
</h2>

In [25]:
# modeling
from sklearn.model_selection import train_test_split

trg = 'Cancel'

x_train, x_valid, y_train, y_valid = train_test_split(train_df.drop(trg, axis=1), train_df[trg] \
                                                      ,test_size=.2, stratify=train_df[trg])

In [26]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

model = DecisionTreeClassifier(max_depth=12)
model.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=12)

In [27]:
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier

base_estimator = RandomForestClassifier(class_weight='balanced', n_estimators=50)
model2 = AdaBoostClassifier(base_estimator=base_estimator, n_estimators=2)
model2.fit(x_train, y_train)

AdaBoostClassifier(base_estimator=RandomForestClassifier(class_weight='balanced',
                                                         n_estimators=50),
                   n_estimators=2)

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معیار ارزیابی
</font>
</h3>

In [28]:
# evaluate model
from sklearn.metrics import f1_score, classification_report, confusion_matrix

pred = model.predict(x_valid)
print(f1_score(y_valid, pred, pos_label=0))
print(classification_report(y_valid, pred))
confusion_matrix(y_valid, pred)

0.9894755103220957
              precision    recall  f1-score   support

           0       0.98      1.00      0.99     17144
           1       0.99      0.89      0.94      3060

    accuracy                           0.98     20204
   macro avg       0.98      0.94      0.96     20204
weighted avg       0.98      0.98      0.98     20204

array([[17111,    33],
       [  331,  2729]], dtype=int64)

In [29]:
from sklearn.metrics import f1_score, classification_report, confusion_matrix

pred = model2.predict(x_valid)
print(f1_score(y_valid, pred, pos_label=0))
print(classification_report(y_valid, pred))
confusion_matrix(y_valid, pred)

0.9857209464972607
              precision    recall  f1-score   support

           0       0.98      0.99      0.99     17144
           1       0.92      0.92      0.92      3060

    accuracy                           0.98     20204
   macro avg       0.95      0.95      0.95     20204
weighted avg       0.98      0.98      0.98     20204

array([[16913,   231],
       [  259,  2801]], dtype=int64)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی
</font>
</h2>

In [30]:
# predict test samples
preds = model2.predict(test_df)
submission = pd.DataFrame()
submission['Cancel'] = preds
print(submission.Cancel.sum())
submission

6451

       Cancel
0           0
1           0
2           0
3           1
4           0
...       ...
43288       0
43289       0
43290       0
43291       0
43292       0

[43293 rows x 1 columns]